{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <!--CSS-->
    <link type='text/css' href='{% static "css/style.css"%}' rel='stylesheet'/>
    <title>Lista de productos</title>
</head>
<body>

    <div class="logo-pat-prod">
        <a href="index" class="logo_patitas_princ"><img src="{% static 'img/logo_patitas.png' %}" alt="patitas"></a>
    </div>

    <div class="titulos-pag">
        <h1>Editar Datos de Productos</h1>
    </div>

    <button type="button" class="btn-agregar">
        <a href="{% url 'productosAdd' %}">Agregar</a>
    </button>

    <div id="idMensajes">
        {% if mensaje %}
            {{ mensaje }}
        {% endif %}
    </div>

        <table class="productos-tabla">
            {% if productos %}
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Imagen</th>
                    <th>Eliminar</th>
                    <th>Modificar</th>
                </tr>
            </thead>
            <tbody>
                {% for x in productos %}
                    <tr>
                        <td> {{ x.id }} </td>
                        <td> {{ x.nombre_prod }} </td>
                        <td> {{ x.descripcion }} </td>
                        <td> {{ x.precio }} </td>
                        <td> {{ x.stock }} </td>
                        <td><img src="{{ x.imagen }}" alt=" {{ x.imagen}}" class="product-image"></td>
                        <td> <a href="{% url 'productos_del' pk=x.id %}" class="btn-eliminar">eliminar </a></td>
                        <td> <a href="{% url 'productos_findEdit' pk=x.id %}" class="btn-modificar">modificar </a></td>
            
                    </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
    <h1>test github</h1>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#idMensajes").delay(2000).fadeOut("slow");
        });
    </script>
</body>
</html>