*{
    padding: 0;
    margin: 0;
    font-family: "Poetsen One", sans-serif;
    text-decoration: none;
}

body{
    background-color: #fbd0d5;
    margin: 0;
}

header{
    position: flex;
    top: 0; left: 0; right: 0;
    background: #d5294d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2%;
    z-index: 1000;
    width: 100%;
    height: 40px;
}

header .logo_patitas_princ img{
    align-items: left;
    width: 9rem;
    height: auto;
}


header .logo-princ{
    display: flex;
    color: #fef2f3;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
}

header .logo-princ:hover{
    color:#811a39;
}

header .navbar-header a{
    font-size: 18px;
    padding: 0 2rem;
    color: #fef2f3;
    text-decoration: none;
}

header .navbar-header a:hover{
    color: #811a39;
}

header .user-shop a{
    font-size: 24px;
    color: #fef2f3;
    margin-left: 15px;
}

header .user-shop a:hover{
    color: #811a39;
}

.cont-header header .carrito-compras{
    position: relative;
    text-align: right;
}

.carrito-compras i{
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
}

.carrito-compras i:hover{
    color: #811a39;
}

.carrito-compras span{
    background: #811a39;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}

.cont-header .lista{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.carro-compra{
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    background-color: #fdfdf9;
    border-left: 1px solid #811a39;
    height: 100vh;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.active .carro-compra{
    left: calc(100% - 500px);
}

.active .cont-header{
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
}

.carro-compra h1{
    color: black;
    font-weight: 300;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

.carro-compra .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.carro-compra .checkOut div{
    background-color: #811a39;
    color: #fff;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.carro-compra .checkOut div:nth-child(2){
    background-color: aqua;
    color: #fff;
}

/*BARRA MENU*/
.menu-barra{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0,.1);
}

.menu-barra ul{
    list-style: none;
    background-color: #f7aab2;
    text-align: center;
    height: 54px;
    padding: 0; 
    margin: 0;
}

.menu-barra ul li{
    display: inline-block;
    position: flex;
}

.menu-barra  ul li a{
    display: block;
    padding: 12px 18px;
    font-size: 20px;
    color: #fef2f3;
    text-decoration: none;
    text-align: left;
}

.menu-barra ul li ul.dropdown{
    width: auto;
    background: #811a39;
    position: absolute;
    z-index: 999;
    display: none;
}

.menu-barra ul li ul.dropdown li{
    display: block;
    background: #f7aab2;
    margin: 0px;
    padding: 0;
}

.menu-barra ul li a:hover{
    background: #d5294d;
    color: #811a39;
}

.menu-barra ul li:hover ul.dropdown{
    display: block;
}

.menu-barra ul li ul.dropdown li a:hover{
    background-color: #d5294d;
    color: #811a39;
}

/*CARRUSEL*/
#carouselExampleIndicators{
    max-width: 800px;
    margin: 0 auto;
}

.carousel-item img{
    max-width: 100%;
    height: auto;
}
/*END CARRUSEL*/
/*END BARRA MENU*/

/*PRODUCTOS POPULARES*/
.titulos-pag{
    padding: 20px;
    width: 40%;
    border-radius: 50px;
    background-color: #811a39;
    color: #fbd0d5;
    margin: 30px auto;
    text-align: center;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}

.cont-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding: 15px 30px 40px 80px;
}

.card-prodct {
    display: flex;
    position: relative;
    align-items: flex-end;
    width: min(80%, 350px);
    height: 400px;
    padding: 30px 25px;
    background: #fdfdf9;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: all 0.5s ease;
    border-radius: 45px;
}

.card-prodct:hover{
    transform: translateY(-20px);
}

.card-prodct::after{
    content: " ";
    position: absolute;
    top: 0; left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, 
    rgba(208, 195, 195, 0.5),rgba(129, 26,57, 1));
    transition: all 0.5s;
    opacity: 0;
    border-radius: 40px;
}

.card-prodct:hover::after{
    opacity: 1;
}

.card-prodct > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0; left: 0;
    border-radius: 40px;
}

.card-prodct .info{
    position: relative;
    z-index: 3;
    color: #fef2f3;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s;
}

.card-prodct:hover .info{
    opacity: 1;
    transform: translateY(0px);
}

.card-prodct .info h1{
    font-size: 1.4rem;
    margin: 0;
}

.card-prodct .info p{
    font-size: 0.9rem;
    margin: 10px 0 25px;
    line-height: 130%;
}

.card-prodct .info .añadir-btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #d5294d;
    color: #fef2f3;
    font-size: 0.85rem;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.card-prodct .info .añadir-btn:hover{
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    background-color: #811a39;
    color: #fef2f3;
}

.descuento {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: #811a39;
    color: white;
    padding: 5px 10px;
    border-radius: 10px; 
}

.precio-anterior del {
    text-decoration: line-through;
    color: black;
}

.precio-descuento {
    color: #fdfdf9; 
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .card-prodct {
        width: calc(50% - 10px); 
    }
}

/*PIE DE PAGINA*/
.sec-pie-pagina {
    color: #fdfdf9;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.sec-pie-pagina .fondo-pie-pag {
    background-color: #d5294d;
    padding: 30px 0;
}

.sec-pie-pagina .cont-pie-pag {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sec-pie-pagina .pie-pag-logo img {
    width: 200px;
}

.sec-pie-pagina h4{
    color: #fdfdf9;
    font-weight: bold;
}

.sec-pie-pagina ul {
    list-style-type: none;
    padding: 0;
}

.sec-pie-pagina ul li {
    margin-bottom: 10px;
}

.sec-pie-pagina ul li a {
    color: #fdfdf9;
    text-decoration: none;
}

.sec-pie-pagina ul li a:hover {
    color: #811a39;
}

.sec-pie-pagina .sec-contacto p {
    margin: 7px 0;
}

.sec-pie-pagina .sec-contacto p a {
    color: #fdfdf9;
}

.sec-pie-pagina .sec-contacto p a:hover{
    color:#811a39;
}
.sec-pie-pagina .sec-rrss a:hover{
    color: #811a39;
}
/*
DESCUENTOS
*/
.sec-descuentos{
    text-align: center;
}

.descts-text {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    height: 15vh;
    margin: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.texto-bucle {
    display: inline-block;
    white-space: nowrap;
    animation: texto-bucle 15s linear infinite;
    font-size: 1.5em;
    color: #811a39;
}

@keyframes texto-bucle {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.botones-animales {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    margin-bottom: 40px;
}

.btns-opciones button{
    display: flex;
    height: 70px;
    width: 300px;
    align-items: center;
    justify-content: left;
    background-color: #811a39;
    border-radius: 50px;
    padding: 0 20px;
    margin-left: 10px;
}

.btns-opciones img{
    height: 60px;
    width: auto;
    margin-right: 20px;
}

.btns-opciones p{
    font-size: 20px;
    text-align: left;
    color: #f7aab2;
}

.btns-opciones button:hover{
    opacity: 0.5;
}

.pagination .page-link {
    color: #811a39; /* Default color of pagination links */
    border: #fdfdf9;
}

.pagination .page-link:hover{
    color: #f7aab2;
    transition: 0.5s;
}
/*
INICIAR SESION
*/
.form-inises {
    width: 350px; 
    background-color: rgba(240, 184, 218, 0.5); 
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 100px;
    color: rgb(14, 13, 13); 
}

.form-inises .recuadro {
    width: 98%; 
    height: 40px; 
    margin-bottom: 25px;
    padding: 10px; 
    font-size: 0.9375rem; 
    font-weight: bold;
    color: rgb(15, 15, 15);
    border-radius: 20px;
    border: 0;
}

.form-iniciar-sesion .boton {
    width: 100%;
    background: #d5294d;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 18px;
    border-radius: 30px;
}

.form-inises .boton:hover {
    background: #811a39;
    opacity: 0.9;
}

.form-inises p{
    text-align: center;
    margin-bottom: 0;
}

.form-inises a{
    color: #811a39;
    font-size: 18px;
}

.form-inises a:hover{
    text-decoration: underline;
    color: #fdfdf9;
}

.msj-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.cont-modal {
    background-color: #fdfdf9;
    padding: 20px;
    border: none;
    width: 80%;
    max-width: 300px;
    border-radius: 10px;
    text-align: center;
    color: black;
    margin: 5% auto;
}

.cerrar {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

.cont-modal img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

/*
REGISTRO DE USUARIO
*/
.form-reg-list {
    width: 410px;
    background-color: rgba(240, 184, 218, 0.5); 
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 60px auto;
    color: rgb(14, 13, 13); 
}

.form-reg-list p {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.form-reg-list a {
    color: #d5294d;
}

.form-reg-list a:hover {
    color: #811a39;
    text-decoration: underline;
}

.form-reg-list .boton {
    width: 100%;
    background: #d5294d;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 18px;
    border-radius: 15px;
}

.form-reg-list .boton:hover {
    background: #811a39;
    color: #fdfdf9;
    transition: 0.8s;
}

.form-reg-list .recuadro {
    border-radius: 30px;
    width: 100%; /* Adjust width if needed */
    height: 40px;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    border: 0;
    outline: none;
    background-color: #fff;
}

/*
CONTACTO
*/
.alert{
    display: flex;
    padding: 12px 20px;
    background: #811a39;
    color: #fdfdf9;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
}

.cont-form-contac{
    display: flex;
    max-width: 600px;
    width: 90%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.4);
    margin: auto;
    margin-top: 60px;
    text-align: center;
}

.form-listo input[type='text'],
.form-listo textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 20px;
    border: 2px solid black;
    font-weight: 400;
    outline: 0;
}

.form-listo textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    max-height: 200px;
}

.form-listo button{
    padding: 12px 30px;
    border: transparent;
    background: #d5294d;
    color: #fdfdf9;
    float: right;
    border-radius: 30px;
}
.form-listo button:hover{
    background: #811a39;
    color: #f7aab2;
}

/*NO SE QUE TAN UTIL SEA ESTO NO VEO CAMBIOS*/
@media (max-width: 520px){
    .cont-form-contac{
        padding: 40px 20px;
    }
    .cont-form-contac .form-listo{
        width: 100%;
        padding: 0px;
    }
}


/*

*/

.agregar-prod{
    background-color: #811a39;
    margin: 20px;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    padding: 0 20px;
}

.agregar-prod a{
    text-decoration: none;
    color: #ffffff;
}

